**build/**/*
simulations/the-one/reports_data
simulations/the-one/out
simulations/the-one/target
simulations/**/__pycache__
simulations/**/.idea
simulations/**/.vscode
simulations/out
simulations/the-one/reports
paper/build/*
paper/*.aux
paper/*.bbl
paper/*.blg
paper/*.log
paper/*.out
paper/*.fls
paper/*.fdb*
paper/*.synctex*
*backup*
pi-ble/figures/*
pi-ble/bin/*
pi-ble/lib/*
*old*
build/slides.pdf.d
build/slides.tex/slides.inputs
build/slides.tex/slides.inputs.new
build/slides.tex/slides/slides.aux
build/slides.tex/slides/slides.fls
build/slides.tex/slides/slides.log
build/slides.tex/slides/slides.nav
build/slides.tex/slides/slides.out
build/slides.tex/slides/slides.toc
slides/build/slides.pdf.d
slides/build/slides.tex/slides.inputs
slides/build/slides.tex/slides.inputs.new
slides/build/slides.tex/slides/slides.aux
slides/build/slides.tex/slides/slides.fls
slides/build/slides.tex/slides/slides.log
slides/build/slides.tex/slides/slides.nav
slides/build/slides.tex/slides/slides.out
slides/build/slides.tex/slides/slides.snm
slides/build/slides.tex/slides/slides.toc
