**build/**/*
simulations/the-one/reports_data
simulations/the-one/out
simulations/the-one/target
simulations/**/__pycache__
simulations/**/.idea
simulations/**/.vscode
simulations/out
simulations/the-one/reports
paper/build/*
paper/*.aux
paper/*.bbl
paper/*.blg
paper/*.log
paper/*.out
paper/*.fls
paper/*.fdb*
paper/*.synctex*
*backup*
pi-ble/figures/*
pi-ble/bin/*
pi-ble/lib/*
*old*